* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

input {
    width: 215px;
    height: 200px;
    padding: 20px;
    margin: 20px 0;
    font-size: 130px;
}

button {
    padding: 10px 20px;
    font-size: 130px;
    cursor: pointer;
    width: 480px;
    height: 200px;
}
